
@{
    ViewBag.Title = "NoEditPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Insufficient Permission</h1>

<div>
    <p> Sorry, you do not have permission to edit @ViewBag.Name</p>
</div>
