@model SdProject.Models.AccountModels.ProfilePreviewModel


<div>
    <img src="../Images/logo.jpg" alt="ProfileImage" width="100px" height="100"/>
</div>
<div>
    <a href="@Url.Action("ProfileDisplay", "Account", new { userName = Model.UserName })">
        @Html.DisplayFor(m => m.UserName)
    </a>
</div>