@model SdProject.Models.AccountModels.DisplayAccountModel


@{
    ViewBag.Title = "PageView";
}

<h2>@Model.User.UserName</h2>
<h2># of bathrooms</h2>

@*<h1>@Model.User.Houses.First().Bathrooms</h1>*@
<p>Tell Us about your house!</p>
@Html.ActionLink("Add your house!", "EnterInfo", "House")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}