@model SdProject.Models.AccountModels.DisplayAccountModel


@{
    ViewBag.Title = "PageView";
}

<h2>Welcome, @Model.User.UserName!</h2>
<p>Tell Us about your house!</p>
@Html.ActionLink("Add your house!", "EnterInfo", "House")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}