@{
    ViewBag.Title = "PageView";
}

<h2>This is the main profile view...under constrution</h2>
<p>Tell Us about your house!</p>
@Html.ActionLink("Add your house!", "EnterInfo", "House")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}