@{
    ViewBag.Title = "ProfileNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Not Found</h2>

<div>
    @if (!String.IsNullOrEmpty(ViewBag.UserName)) {
        @:@ViewBag.UserName was not found.
    }
    else {
        @:No profile was found.
    }   
</div>
