@model SdProject.Models.AccountModels.ProfileModel

@{
    ViewBag.Title = Model.ProfileHeading();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, @User.Identity.Name</h2>
<div>
    <div>
        Houses:
    </div>
    <div>
        <br />
        <div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					 <img src="../images/pic09.jpg" alt="" /> </div>
				<div class="slide">
					<img src="../images/pic10.jpg" alt="" /></div>
			</div>
		</div>
		<div class="indicator">
			<ul>
				<li class="active">1</li>
				<li>2</li>
			</ul>
		</div>
	</div>
        @if (Model.Houses.Any()) {
            foreach (var house in Model.Houses) {
                @Html.Partial("~/Views/House/_HousePreviewRoot.cshtml", house)
            }
        }
        else {
            @:@Model.ProfileName() does not have any houses.
        }
        @if (Model.HasEditPermision) {
            @Html.ActionLink("Add A House", "EnterInfo", "House")
        }
    </div>
</div>

@section scripts {
             @Scripts.Render("~/bundles/jqueryslider")
             }
