
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #088573;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #4F4F4F;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	color: #098A76;
}

p, ol, ul
{
	margin-top: 0px;
}

ol, ul
{
	margin: 0px;
	padding: 0px;
	list-style:  none
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #088674;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

ul.style1
{
}

ul.style1 li
{
	padding: 1.50em 0em 1.90em 0em;
	border-top: 1px solid #e8e8e8;
}

ul.style1 a
{
	text-decoration: none;
	color: #6e6d6d;
}

ul.style1 a:hover
{
	text-decoration: underline;
}

ul.style1 .posted
{
	font-size: 0.90em;
	color: #b6b6b6;
}

ul.style1 .first
{
	padding-top: 0em;
	border-top: none;
}

/** WRAPPER */

#wrapper
{
	background: #FFFFFF;
}

.container
{
	width: 1000px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	height: 150px;
	background: #088573;
	border-bottom: 1px solid #3B3B3A;
}

#header
{
	overflow: hidden;
}

/** LOGO */

#logo
{
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.50em;
}

/** MENU */

#menu
{
	float: right;
	padding: 40px 0px 0px 0px;
	height: 99px;
}

#menu ul
{
	float: right;
	margin: 0px;
	padding: 0px;
	background: #0DA993;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	padding: 2em 2em 2em 2em;
}

#menu a
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.10em;
	color: #FFFFFF;
}

#menu a:hover
{
	text-decoration: underline;
}

#menu .active a
{
	color: #088674;
}

#menu .first
{
	background: #FFFFFF;
	border-left: none;
	box-shadow: none;
	color: #088674;
}

/** PAGE */

#page
{
	overflow: hidden;
	padding: 50px 0px;
}

#page h2
{
	padding: 100px 0px 30px 0px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #098A76;
}

/** CONTENT */

#content
{
	float: left;
	width: 650px;
}

#content h2
{
	padding: 10px 0px 20px 0px;
	font-size: 2.50em;
}

#content img
{
	float: left;
	margin-right: 40px;
}

/** SIDEBAR */

#sidebar
{
	float: right;
	width: 300px;
}

#sidebar h2
{
	padding: 10px 0px 20px 0px;
}

/* Footer */

#footer
{
	overflow: hidden;
	padding: 3em 0em;
}

#footer p
{
	text-align: center;
	color: #FFFFFF;
}

#footer a
{
	color: #FFFFFF;
}

/** Banner */

#banner
{
	overflow: hidden;
	padding: 50px 0px;
	background: #E2E0DE;
	border-bottom: 1px solid #D8D8D8;
}

/** Slider */

#slider
{
	overflow: hidden;
	margin: 0 auto;
	width: 1000px;
	position: relative;
}

#slider .button
{
	display: inline-block;
	background: #0074C6;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 1.25em;
	border-bottom: solid 2px #0054A6;
	text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
	background: #2094E6;
}

#slider .viewer
{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

#slider .viewer .reel
{
	display: none;
}

#slider .viewer .reel .slide
{
	position: relative;
	width: 1000px;
	height: 500px;
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 230px;
	left: 0;
	padding: 0px 30px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.75;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #ffffff;
	font-size: 4.50em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 310px;
	left: 0;
	display: block;
	padding: 5px 35px;
	background: #0074C6;
	text-align: center;
	opacity: 0.75;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.00em;
}

#slider .indicator
{
	margin: 30px auto 0 auto;
}

#slider .indicator ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #909090;
}

#slider .indicator ul li.active
{
	background: #505050;
	border-top: solid 1px #505050;
}

#featured
{
	overflow: hidden;
	padding: 50px 0px;
	border-bottom: 1px solid #D8D8D8;
}

#featured #fbox1
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox2
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox3
{
	float: left;
	width: 235px;
}

#featured #fbox4
{
	float: right;
	width: 235px;
}

#featured img
{
}

#featured p
{
	text-align: center;
}

#featured h2
{
	padding: 20px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #098A76;
}

#featured .title 
{
	margin-bottom: 40px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.50em;
	color: #098A76 !important;
}





/* login ******NEW STUFF******
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

/* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


/*Custom written CSS */
    .singleTextBox {
    
}
    /* page elements (From orignal site) not ccsstmeplates
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

    /* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }