@using SdProject.Models.MessageModels
@model SdProject.Models.MessageModels.MessageListingModel

@{
    ViewBag.Title = "MessageListing";
}

<div>
    @foreach(MessageModel message in Model.Messages) {
        @Html.Partial("_DisplayMessage", message)
    }

    <div id="newMessage">
        @Ajax.ActionLink("New Message", "Create", new AjaxOptions(){ HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "newMessage" })
    </div>
</div>