@using SdProject.Models.MessageModels
@model SdProject.Models.MessageModels.MessageListingModel

@{
    ViewBag.Title = "MessageListing";
}

<div>
    @foreach(MessageDisplayModel message in Model.Messages) {
        @Html.Partial("_DisplayMessage", message)
    }
</div>