@model SdProject.Models.MessageModels.EditMessageModels.EditMessageModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div>
    @Html.Partial("_EditMessageBody");
</div>