@using SdProject.Models.MessageModels
@model SdProject.Models.MessageModels.MessageListingModel

@{
    ViewBag.Title = "MessageListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>MessageListingModel</h2>
    @foreach(MessageModel message in Model.Messages) {
        @Html.Partial("_DisplayMessage", message)
    }
    <div>
        @Html.Action("Create")
    </div>
</div>