@{
    ViewBag.Title = "About";
}


@*<hgroup class="title">*@
<div id="slider">
    <div class="viewer">
    <h1>About HomeFront</h1>

@*</hgroup>*@


<article>
    <p>
        <strong>HomeFront</strong> was designed and implemented by Lee Sargent, Kaither Holiway, and Kira Lawrence, using ASP.NET MVC4.  ASP.NET is a technology used by most major companies today to create an extremely dynamic and multi-functional web application.  The .NET framework allows for developers to create applications that make it easy to have user profiles, access to and from a database, add javascript and other animations, as well as many other cool features.  MVC4 stands for model-view-controller and it is the style in which this particular application is implemented.  The view contains the HTML for the page display, the view contains the logic for the database, and the controller contains the actual algorithmic design that implements how a view is displayed.     
    </p>

</article>

<aside>
    <h3>Reference Links</h3>

    <ul>
        <li><a href="http://www.asp.net/">ASP.NET</a></li>
        <li><a href="http://www.freecsstemplates.org/">FreeCssTemplates.org</a></li>
    </ul>
</aside>

            </div>
    </div>