@*OLD CODE*@

@*@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@






@*NEW CODE*@

@{
    ViewBag.Title = "Home Page";
}

@section featured {
     <section class="featured">
<div id="slider">
		<div class="viewer">
			<div class="reel">
                @if(WebSecurity.IsAuthenticated)
                    {
				
                   
					 @*<img src="../images/pic09.jpg" alt="" /><a href=@(WebSecurity.IsAuthenticated? @Url.Action("ProfileDisplay", "Account", new { username = WebSecurity.CurrentUserName } ) : "Account/Register")><p>Share your home with us.</p></a> </div>
				*@
                    <div class="slide">
                    <img src="../images/3.jpg" alt="" /><a href="Friendship/Create"><p>Find people you know.</p></a> </div>
                    
                    <div class="slide">
					<img src="../images/4.jpg" alt="" /><a href="Message/Create"><p>Talk to your friends</p></a> </div>
                    } else {
                        
                        <div class="slide">
                    <img src="../images/pic09.jpg" alt="" /><a href="Account/Register"><p>Register to begin</p></a> </div>
                    
                    <div class="slide">
					<img src="../images/pic10.jpg" alt="" /><a href="Account/Register"><p>Once you're registered, click "Add house"</p></a> </div>
                        
                    }

			</div>
		</div>
		<div class="indicator">
			<ul>
				<li class="active">1</li>
				<li>2</li>
			</ul>
		</div>
	</div>
         
         </section>
    
    }
@section scripts {
             @Scripts.Render("~/bundles/jqueryslider")
             }

@section bottom{

<div id="content"> <img src="images/pic11.jpg" width="235" height="235" alt="" />
			<h2>What is HomeFront?</h2>
			<p><strong>HomeFront</strong> is one of the first social networks designed specifically for home owners.  Here you will be able to network with peers and show off the special home you have worked so hard to obtain.  Just register and begin entering information about your home, the sooner you share with us, the sooner you can share with friends!</p>
		</div>
		<div id="sidebar">
			<div>
				<h2>About Us</h2>
				<ul class="style1">
					<li class="first">
						<p><strong>HomeFront</strong> was built and designed to showcase the abilities to create an extremely dynamic and safe web application using ASP.NET MVC4.  Click the link to learn more about the developers and the design of this application.  <a href="Home/About">About Us</a></p>
					</li>
				</ul>
			</div>
		</div>

    }