@model SdProject.Models.HouseModels.HouseDisplayModel

@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

<form action="/House/UploadImage"  method="post" enctype="multipart/form-data">

	<label for="photo">Photo:</label>
	<input type="file" name="photo" id="photo" />

	<input type="submit" value="Upload" />
</form>


